

.container {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

#display {
  font-size: 6rem;
  margin: 2rem 0;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
}
button {
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  transform: translateY(50px);
}
body {
  background: #0a6992;
  height: 200%;
}
 button {
  margin: 5 5px;
  margin-left: 15px;
  padding: 5px 10px  15px 5px;
  border: none;
  border-radius: 4px;
  color: #251f1f;
  font-size: 16px;
}
#start{
    margin: 0 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-color: #b220fb;
}
#stop{
    margin: 0 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-color: #0c090e;
}
#reset{
    margin: 0 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-color: #c41339;
}
.instructionButton {
  position: sticky;
  top: 50px;
  z-index: 1;
  padding: 10px;
  




}




/* Utilities*/
.flex {
  display: flex;
}
ul li {
  list-style: none;
}
.spacebetween {
  justify-content: space-around;
}
.spaceEvenly {
  justify-content: space-evenly;
}
:root {
  --backgroundColor: #05040e;
}
/* Utilities*/

.slide-active {
  animation: step-end;
}
@keyframes slideInTop {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(-20px);
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #0a6992;
  height: 200%;
}
header {
  position: sticky;
  top: 0;
}
nav {
  background: var(--backgroundColor);
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0;
}
nav .left {
  justify-content: center;
  align-items: center;
}
nav .left i {
  font-size: 25px;
  padding: 0 10px 0 4px;
}
nav .right {
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
nav .right ul li {
  padding: 0 24px;
  cursor: pointer;
  font-size: 15px;
}

.wrapper {
  z-index: 2;
  height: 53vh;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform: translateY(50px);
}
.wrapper .box {
  position: relative;
  color: #ffffff;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  background: var(--backgroundColor);
  margin: auto;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 1.12) 2px 3px 7.5px -1px,
    rgba(14, 30, 37, 0.32) -8px 7px 8px 0px;
}
.count {
  padding-top: 35px;
  font-size: 80px;
}
.lable {
  font-size: 20px;
}
input[type="text"] {
  position: relative;
  top: 100px;
  width: 54px;
  height: 50px;
  outline: none;
  text-align: center;
  border-radius: 5px;
  font-size: 21px;
  padding: 0 13px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 3px 8px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
input[] {
  background-color: #c01b1b;
}
input[disabled]:hover {
  background-color: #4b3abd;
  cursor: no-drop;
}

.buttons {
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  transform: translateY(50px);
}
.buttons button {
  margin: 0 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}
.buttons #setTime {
  background-color: var(--backgroundColor);
}
.buttons #setTime:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 1px #3628969b;
}
.buttons #startResume {
  background-color: #b220fb;
}
.buttons #startResume:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 1px #b220fb85;
}
.buttons #pause {
  background-color: #0d6aff;
}
.buttons #pause:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 1px #0d6aff;
}
.buttons #reset {
  background-color: red;
}
.buttons #reset:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 1px rgba(255, 95, 95, 0.888);
}




.instructionButton {
  position: sticky;
  top: 50px;
  z-index: 1;
  padding: 10px 10px 10px 25px;
}
.instructionButton button {
  padding: 4px 12px;
  color: #ffffff;
  background: var(--backgroundColor);
  border: none;
  font-size: 15px;
  border-radius: 4px;
}

button:hover{
  cursor: pointer;
}
button[disabled]:hover{
  cursor: not-allowed;
}
input[type="text"].inactive-input{
  border: 1px solid red;
  box-shadow: 0 0 10px 2px red;
}
